.anchor {
  // If I will use anchor on <section id="test" />, browser will go
  // to this section and navbar will overlay content
  // So I add <div id="test" class="anchor"></div> before <section>...</section>
    display: block;
    position: relative;
    top: (-$navbar-height - 20px); // -height of navbar - 20px
    visibility: hidden;
  }