.infos {
  margin: 100px 0 150px;

  position: relative;

  &--about {
    padding: 100px 0;

    @include breakpoint($breakpoint-md) {
      padding: 10px;
    }

    .info {
      max-width: 1000px;
      margin: 50px auto;

      .ui.container {
        justify-content: space-around;
      }

      .section-caption {
        margin-bottom: 30px;
      }

      .about-p {
        max-width: 400px;
      }

      &:nth-child(even) > .container {
        flex-direction: row;
      }

      &:nth-child(odd) > .container {
        flex-direction: row-reverse;
      }
    }
  }
}

.infos-bg {
  display: flex;

  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;

  background: #f5f8f9;

  z-index: -1;

  &__part {
    width: 100%;

    position: absolute;
    top: 0;

    background: #fff;
    transform: translateY(-50%);

    z-index: -1;

    @include breakpoint($breakpoint-md) {
      height: 80px;
      transform: translateY(-80%);
    }

    @include breakpoint($breakpoint-sm) {
      height: 25px;
    }

    &--bottom {
      top: auto;
      bottom: 0;
      transform: translateY(50%) rotate(180deg) scale(-1, 1);

      @include breakpoint($breakpoint-md) {
        transform: translateY(70%) rotate(180deg) scale(-1, 1);
      }
    }
  }
}

.info {
  @include breakpoint($breakpoint-md) {
    & + & {
      margin-top: 40px;
    }

    &__pic {
      display: none;
    }
  }

  .section-caption {
    margin-bottom: 0;

    text-align: left;

    @include breakpoint($breakpoint-md) {
      text-align: center;
    }
  }

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($breakpoint-md) {
      padding: 0 20px;
      justify-content: center;
    }
  }

  &:nth-child(even) > .container {
    flex-direction: row-reverse;

    @include breakpoint($breakpoint-md) {
      flex-direction: row;
    }
  }

}

.info-desc {
  &__list {
    margin-top: 20px;
    padding-left: 0;

    list-style: none;

    & > li {
      margin-bottom: 15px;
      padding-left: 30px;

      position: relative;

      font-family: $main-font;
      font-size: 16px;
      font-weight: 400;
      color: $grey-dark;

      &:before {
        display: inline-block;

        width: 20px;
        height: 14px;

        position: absolute;
        left: 0;
        top: 3px;

        content: "";
        background: url(images/icons/li-tick.svg) 50% 50% no-repeat;
      }
    }
  }
}