.page-header {
  width: 100%;
  margin-top: 85px;
  padding: 30px 0;

  background: url(images/page-header-bg.svg) 50% 50% no-repeat;
  background-size: cover;

  @include breakpoint($breakpoint-md) {
    margin-top: 60px;
  }

  & > .ui.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  & > img {
    max-width: 100%;
  }

  &--about {
    padding: 100px 0;

    background-position-y: 100%;

    .page-header__caption {
      color: #fff;
      font-weight: 600;
    }
  }

  &--blog {
    height: 460px;
    padding-bottom: 0;
    
    & > .ui.container {
      flex-direction: column;
    }
  }

  &__caption {
    width: 100%;
    padding: 10px 0 20px;

    font-family: $main-font;
    font-size: 39px;
    font-weight: 500;
    color: $blue-dark;
    text-align: center;
  }

  &__title {
    order: 1;
    margin: 0;

    font-family: $main-font;
    font-size: 32px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__phone {
    order: 2;
    font-family: $main-font;
    font-size: 15px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__search {
    order: 2;
    position: relative;

    @include breakpoint($breakpoint-md) {
      margin-top: 20px;
    }

    & > img {
      position: absolute;
      bottom: 10px;
      left: 0;

      @include breakpoint($breakpoint-md) {
        bottom: 25px;
      }
    }

    & > .site-input {
      padding-left: 40px;
      width: 100%;
    }
  }

  &__pattern {
    position: absolute;
    left: 50%;

    opacity: .7;
    transform: translateX(-50%);
  }

  &--with-search {
    .page-header__phone {
      order: 0;
    }

    .breadcrumbs {
      width: 50%;
    }
  }
}