.pink-label {
  margin: 0 0 15px;

  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  color: $brand-pink;
  text-transform: uppercase;

  @include breakpoint($breakpoint-md) {
    text-align: center;
  }
}