.section-caption {
  margin: 0 0 60px;

  font-family: $main-font;
  font-size: 32px;
  font-weight: 500;
  color: $blue-dark;
  text-align: center;

  @include breakpoint($breakpoint-md) {
    max-width: 500px;
    margin: 0 auto 45px;

    font-size: 28px;
  }
}