.site-input {
  display: block;

  width: 350px;
  max-width: 100%;
  padding: 10px;
  margin-right: 20px;

  border: none;
  border-bottom: 1px solid #ced0da;
  background: transparent;

  font-family: $main-font;
  font-size: 17px;

  outline: none;
  resize: none;
  transition: border-color .2s ease;

  @include breakpoint($breakpoint-md) {
    margin: 0 0 20px;
  }

  & + & {
    margin-top: 30px;
  }

  &--fw {
    width: 100%;
  }

  &::placeholder {
    color: #989c9f;
  }

  &:hover,
  &:focus {
    border-color: $brand-blue;
  }
}

.site-input-wrapper {
  & + & {
    margin-top: 30px;
  }
}