.site-footer {
  width: 100%;
  padding: 40px 0 75px;
  background-color: #f5f8f9;

  &--white {
    background-color: #fff;
  }

  &--download {
    margin-top: -250px;

    @include breakpoint($breakpoint-md) {
      margin-top: 0;
    }
  }

  & > .ui.container {
    display: flex;

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.site-footer-info {
  margin-right: 100px;

  @include breakpoint($breakpoint-lg) {
    max-width: 250px;
  }

  @include breakpoint($breakpoint-md) {
    margin: 0 auto;

    text-align: center;
  }

  &__desc {
    margin-top: 40px;

    font-family: $main-font;
    font-size: 16px;
    line-height: 1.2;
    color: $grey;
  }
}

.site-footer-navs {
  display: flex;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;

    margin-top: 40px;
    
    text-align: center;
  }
}

.site-footer-nav {
  display: flex;
  flex-direction: column;

  & + & {
    margin-left: 100px;

    @include breakpoint($breakpoint-md) {
      margin-left: 0;
      margin-top: 50px;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-family: $main-font;
    font-size: 18px;
    font-weight: 600;
    color: $blue-dark;
  }

  &__row {
    display: flex;

    @include breakpoint($breakpoint-lg) {
      flex-direction: column;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    & + & {
      margin-left: 50px;

      @include breakpoint($breakpoint-lg) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }

  &__item {
    font-family: $main-font;
    font-size: 16px;
    color: $grey;

    & > img {
      margin: 0 10px;

      position: relative;
      top: 6px;
    }

    & + & {
      margin-top: 10px;
    }
  }
}
