.site-subnav {
  width: 100%;
  background: #f1f1f4;

  @include breakpoint($breakpoint-md) {
    & > .ui.container {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    display: inline-block;

    padding: 25px;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    color: $grey;
    text-align: center;

    &--active {
      background-color: #fff;
      color: $blue-dark;
    }

    @include breakpoint($breakpoint-md) {
      display: block;

      margin: 0 -15px;
      padding: 15px;
    }
  }
}