.site-header {
  padding: 20px 0;

  width: 100%;
  height: 85px;

  position: fixed;
  top: 0;
  left: 0;

  background: #fff;
  box-shadow: 0 0 10px $shadow;

  z-index: 10;

  .ui.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    @include breakpoint($breakpoint-lg) {
      width: 100%;
      padding: 0 40px;
    }

    @include breakpoint($breakpoint-md) {
      flex-wrap: wrap;

      padding: 0;
    }
  }

  @include breakpoint($breakpoint-md) {
    height: 60px;
    padding: 12px;
  }
}

.site-header-logo {
  &__big {
    position: relative;
    top: -4px;

    @include breakpoint($breakpoint-lg) {
      display: none;
    }
  }

  &__small {
    display: none;

    @include breakpoint($breakpoint-lg) {
      display: block;
    }
  }
}

.site-header-misc-wrapper {
  margin-left: auto;

  @include breakpoint($breakpoint-md) {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    width: 100%;
  }

  &--logged {
    flex-direction: column;

    @include breakpoint($breakpoint-md) {
      margin-top: 20px;
    }

    & > .site-header-link {
      color: $blue-dark;
    }
  }
}

.site-header-nav-toggle {
  display: none;

  padding: 5px;

  background: transparent;
  border: none;

  cursor: pointer;

  @include breakpoint($breakpoint-md) {
    display: block; 
  }
}

.site-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-left: 50px;

  position: relative;

  box-sizing: border-box;
  transition: all .15s ease-in-out, border-color 0s;
  overflow: hidden;

  @include breakpoint($breakpoint-xl) {
    margin-left: 20px;
  }

  @include breakpoint($breakpoint-md) {
    flex-grow: 1;
    flex-direction: column;

    width: 100%;
    max-height: 0;
    margin: 0;

    position: absolute;
    top: 59px;
    left: 0;

    background: #fff;
    box-shadow: 0 5px 10px $shadow;
    border-top: 1px solid #fff;

    &.active {
      max-height: 400px;
      padding: 20px;
  
      border-color: $grey-lighter;
    }
  }
}

.site-header-link {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
  color: $grey;
  white-space: nowrap;

  @include breakpoint($breakpoint-xl) {
    font-size: 15px;
  }

  @include breakpoint($breakpoint-md) {
    font-size: 16px;
    
    &__icon {
      display: none;
    }
  }

  &--bold {
    font-weight: bold;
  }

  &--active {
    color: $blue-dark;
    font-weight: bold;
  }

  & + & {
    margin-left: 30px;

    @include breakpoint($breakpoint-xl) {
      margin-left: 22px;
    }

    @include breakpoint($breakpoint-lg) {
      margin-left: 15px;
    }

    @include breakpoint($breakpoint-md) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  & > img {
    position: relative;
    // top: 5px;
  }

  & > span {
    display: none;

    @include breakpoint($breakpoint-md) {
      display: inline-block;
    }
  }

  &--cta {
    display: inline-block;

    padding: 10px 25px;

    border-radius: 80px;
    border: 2px solid $brand-pink;

    color: $brand-pink;

    @include breakpoint($breakpoint-md) {
      margin-bottom: 20px;

      background: $brand-pink;

      color: #fff;
    }
  }
}