.site-waves {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: -250px;

  overflow: hidden;
  z-index: 1;
  
  & > img {
    width: 100%;
    min-width: 1200px;
  }
  
  &--footer {
    margin-top: 0;

    & > img {
      min-width: 600px;
    }
  }
}