.site-btn {
  display: inline-block;
  padding: 0 40px;
  
  border: none;
  border-radius: 50px;
  background-color: $brand-pink;
  
  font-family: $main-font;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;

  cursor: pointer;

  @include breakpoint($breakpoint-md) {
    width: 180px;
    margin: 0;
    padding: 0 10px;
  }

  &--form {
    display: block;

    margin: 30px auto;
  }

  &--small {
    height: 35px;
    padding: 0 20px;

    font-size: 15px;
    line-height: 35px;
  }

  &--blue {
    background-color: $brand-blue;
  }

  &--white {
    border: 1px solid $grey-lighter;
    background-color: #fff;

    color: $brand-blue;

    & > svg {
      position: relative;
      top: 1px;
      left: -10px;
    }
  }

  & + & {
    margin-left: 15px;

    @include breakpoint($breakpoint-md) {
      margin: 10px 0 0 0;
    }
  }
}