.about-org {
  padding: 80px 0;

  @include breakpoint($breakpoint-md) {
    padding: 30px 0;
  }

  .section-caption {
    text-align: left;

    @include breakpoint($breakpoint-md) {
      text-align: center;
    }
  }

  &__stats-list {
    display: flex;
    justify-content: center;
    
    margin: 80px 0;

    @include breakpoint($breakpoint-sm) {
      flex-direction: column;
      align-items: flex-start;

      margin: 0;
    }
  } 
}

.about-org-stats-item {
  display: flex;
  flex-direction: column;

  text-align: center;

  @include breakpoint($breakpoint-sm) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
  }

  & + & {
    margin-left: 180px;

    @include breakpoint($breakpoint-lg) {
      margin-left: 100px;
    }

    @include breakpoint($breakpoint-md) {
      margin-left: 0;
    }
  }

  &__number {
    margin: 0;
    font-family: $main-font;
    font-size: 45px;
    line-height: 1.1;
    color: $blue-dark;

    &:after {
      content: "+";

      font-size: 38px;
      color: $grey;
    }
  }

  &__label {
    margin: 0;

    font-family: $main-font;
    font-size: 16px;
    color: $grey;
  }
}

.about-quote {
  padding: 60px 0 150px;

  @include breakpoint($breakpoint-md) {
    padding: 30px 0;
  }

  .section-caption {
    font-weight: bold;
  }

  &__content {
    margin: 0 auto;
    max-width: 650px;

    position: relative;

    font-family: $serif;
    font-size: 18px;
    line-height: 1.4;
    color: $grey-dark;
    text-align: center;

    &:before,
    &:after {
      height: 37px;
      width: 25px;

      position: absolute;

      font-size: 89px;
      color: $brand-pink;

      @include breakpoint($breakpoint-md) {
        display: none;
      }
    }

    &:before {
      content: "“";

      top: -30px;
      left: -70px;
    }

    &:after {
      content: "”";

      bottom: 10px;
      right: -70px;
    }
  }
}

.about-p {
  font-family: $main-font;
  font-size: 18px;
  line-height: 1.4;
  color: $grey-dark;

  & > a {
    font-weight: bold;
    color: $brand-blue;
  }
}