.featured-article {
  margin-top: 0;

  font-family: $main-font;
  font-size: 13px;
  color: #caeded;
  text-align: center;
  text-transform: uppercase;

  &__title {
    margin-top: 0;

    font-family: $main-font;
    font-size: 39px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}

.blog-pic {
  display: block;

  margin: 40px auto 0;
}

.blog-articles-list {
  padding: 40px 0;

  & > .ui.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include breakpoint($breakpoint-md) {
      justify-content: center;
    }
  }

  &--small {
    padding: 0;

    & .blog-article-card {
      width: 180px;
      height: 220px;
      margin: 0 5px 10px;

      @include breakpoint($breakpoint-sm) {
        width: 250px;
        height: 280px;
      }

      &__cat {
        font-size: 14px;

        &:before, 
        &:after {
          background-color: $grey-light;
        }
      }

      &__name {
        max-height: 3rem;
        overflow: hidden;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    width: 100%;

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
      align-items: center;

      margin-top: 20px;
    }
  }
}

.blog-article-card {
  width: 300px;
  height: 320px;
  margin-bottom: 40px;

  background-color: #f6f6f6;
  border-radius: 5px;

  cursor: pointer;

  @include breakpoint($breakpoint-lg) {
    width: 230px;
    margin-bottom: 20px;
  }

  @include breakpoint($breakpoint-md) {
    width: 210px;
    height: 280px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  @include breakpoint($breakpoint-sm) {
    width: 300px;
    height: 320px;
    margin: 0 auto 15px;
  }

  & img {
    max-width: 100%;
  }

  &__cat {
    display: inline-block;

    width: 100%;
    margin-top: 10px;

    position: relative;

    font-family: $main-font;
    font-size: 16px;
    color: #a4aeb6;
    text-align: center;

    &:before,
    &:after {
      display: inline-block;

      position: relative;
      top: -5px;

      width: 20px;
      height: 1px;
      margin-right: 10px;

      content: "";
      background: #a4aeb6;
    }

    &:after { 
      margin-left: 10px;
      margin-right: 0;
    }
  }

  &__name {
    padding: 0 10px;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: $grey-dark;
    text-align: center;
  }
}

.blog-article-body {
  padding: 70px 0;

  & > .ui.container {
    width: 800px;
  }

  &__title {
    margin-bottom: 60px;

    font-family: $serif;
    font-weight: 300;
    font-size: 27px;
    line-height: 1.3;
    color: $blue-dark;

    &::first-letter { 
      font-family: $main-font;
      line-height: 35px;
      font-weight: bold;
      font-size: 80px;
      color: #ffb23f;
    }
  }

  &__subtitle {
    margin-bottom: 30px;

    font-family: $main-font;
    font-size: 32px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__section {
    display: flex;

    margin: 60px 0 30px;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: $grey-dark;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    & > span {
      display: inline-block;
      margin: 0 20px;
    }

    &:after, &:before {
      width: 100%;
      height: 1px;

      position: relative;
      top: .6em;

      content: "";
      background-color: $grey-light;
    }
  }

  &__text {
    font-family: $serif;
    font-size: 20px;
    line-height: 1.5;
    color: $blue-dark;
  }

  &__related {
    display: inline-block;

    width: 100%;
    margin: 50px 0;
    padding: 30px 0;

    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;

    font-family: $serif;
    font-size: 20px;
    font-weight: 300;
    color: $brand-blue;
    text-align: center;

    @include breakpoint($breakpoint-sm) {
      padding: 30px 10px;
    }

    &:before {
      content: "Related: ";

      font-weight: bold;
      color: $blue-dark;
    }
  }
}

.blog-adv-article {
  display: flex;

  margin: 60px 0 0;
  padding: 35px;

  border: 1px solid $grey-light;
  border-radius: 5px;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;

    text-align: center;
  }

  & > img {
    align-self: flex-start;

    margin-right: 50px;

    @include breakpoint($breakpoint-md) {
      align-self: center;
      margin: 0 0 20px;
    }
  }

  &__name {
    margin-bottom: 20px;
    
    font-family: $main-font;
    font-size: 22px;
    font-weight: bold;
    color: $blue-dark;
  }

  &__text {
    margin-bottom: 20px;

    font-family: $main-font;
    font-size: 16px;
    color: $grey-dark;
  }

  &__link {
    font-family: $main-font;
    font-size: 16px;
    font-weight: bold;
    color: $brand-blue;
  }
}

.blog-subscribe-form {
  margin-top: 40px;
  padding: 40px;

  border: 1px solid $grey-light;
  border-top: 4px solid $brand-blue;
  border-radius: 5px;

  text-align: center;

  &__desc {
    font-family: $main-font;
    font-size: 18px;
    color: $blue-dark;
  }

  &__input-wrapper {
    width: 600px;
    max-width: 100%;
    margin: 30px auto;
  }

  &__comment {
    margin-top: 25px;

    font-family: $main-font;
    font-size: 16px;
    font-style: italic;
    color: $grey-dark;
  }
}

.blog-post-content {
  img {
    max-width: 100%;
  }
}