.contact {
  display: flex;

  width: 960px;
  height: 580px;
  margin: 0 auto;

  position: relative;
  top: -30px;

  background: #fff;
  border-radius: 5px;
  border: 1px solid $grey-light;

  @include breakpoint($breakpoint-lg) {
    flex-direction: column-reverse;

    width: 100%;
    height: auto;
    padding: 50px;

    top: 0;

    background: transparent;
    border: none;
  }
}

.contact-col {
  width: 50%;
  height: 100%;
  padding: 50px;

  @include breakpoint($breakpoint-lg) {
    width: 100%;
    height: auto;

    border: 1px solid $grey-light;
    border-radius: 0 0 5px 5px;

    .site-input-wrapper {
      max-width: 500px;
      margin: 30px auto;
    }

    .site-input {
      width: 500px;
      margin: 0;
    }
  }

  @include breakpoint($breakpoint-sm) {
    padding: 20px 30px;
  }

  &--inverted {
    background-color: $blue-dark;
    border-radius: 0 5px 5px 0;

    @include breakpoint($breakpoint-lg) {
      border: none;
      border-radius: 5px 5px 0 0;
    }

    .contact-col__title {
      color: #fff;
    }
  }

  &__pic {
    display: block;
    margin: 50px auto 0;
  }

  &__title {
    margin-bottom: 30px;

    font-family: $main-font;
    font-size: 20px;
    font-weight: 500;
    color: $blue-dark;
    text-align: center;
  }

  &__info {
    margin-top: 50px;

    font-family: $main-font;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    
    @include breakpoint($breakpoint-lg) {
      margin: 20px auto;
      max-width: 500px;
    }

    & > img {
      margin-right: 15px;

      position: relative;
      top: 5px;
    }
  }

  &__social {
    margin-top: 40px;

    text-align: center;

    a + a {
      margin-left: 20px;
    }
  }
}