.download {
  display: flex;
  padding-top: 85px;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;

    padding-top: 60px;
  }
}

.download-col {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: 50%;
  padding: 80px 140px 300px;

  background-color: #f9ffff;

  @include breakpoint($breakpoint-xl) {
    padding: 50px 50px 300px;
  }

  @include breakpoint($breakpoint-md) {
    align-items: center;

    width: 100%;
    padding: 40px 20px;
  }

  &--pc {
    align-items: flex-start;

    background-color: #fffbfd;

    @include breakpoint($breakpoint-md) {
      align-items: center;
    }
  }

  &__wrapper {
    text-align: center;
  }

  &__for {
    font-family: $main-font;
    font-size: 15px;
    color: $grey-dark;
  }

  &__platform {
    margin-bottom: 40px;

    font-family: $main-font;
    font-size: 39px;
    font-weight: bold;
    color: $blue-dark;
  }

  &__desc {
    margin: 0 auto 30px;
    max-width: 400px;

    font-family: $main-font;
    font-size: 20px;
    color: $grey-dark;

    & > a {
      color: $brand-blue;
    }

    &--or {
      position: relative;

      &:before,
      &:after {
        display: block;

        height: 1px;
        width: calc(50% - 2em);

        position: absolute;
        top: .85em;

        content: "";
        background: #ced0da;
      }

      &:after {
        right: 0;
      }
    }

    &--agree {
      margin-top: 50px;

      font-size: 16px;
      color: #989c9f;

      & > a {
        color: #989c9f;
        text-decoration: underline;
      }
    }
  }
}

.download-phones {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 40px 0;

  &__item {
    display: flex;
    flex-direction: column;

    & > img {
      max-width: 100%;
    }

    & > a {
      margin-top: 50px;

      font-family: $main-font;
      font-size: 22px;
      font-weight: 500;
      color: $blue-dark;
    }
  }
}

.download-pc {
  position: relative;

  & > img {
    max-width: 100%;
  }

  &__how-to {
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translateX(-50%);
    cursor: pointer;

    @include breakpoint($breakpoint-lg) {
      top: 17%;

      & > img {
        width: 50px;
      }
    }

    & > p {
      margin-top: 20px;

      font-family: $main-font;
      font-size: 17px;
      font-weight: 500;
      color: #fff;
      text-align: center;

      @include breakpoint($breakpoint-lg) {
        margin-top: 10px;

        font-size: 15px;
      }
    }
  }
}