.faq {
  max-width: 870px;
  margin: 0 auto;
  padding: 40px 0;

  &__caption {
    margin: 30px 0;

    font-family: $main-font;
    font-size: 25px;
    font-weight: bold;
    color: $blue-dark;
    text-align: center;
  }
}

.faq-wrapper {
  padding: 45px;

  border: 1px solid $grey-lighter;
  border-radius: 5px;

  @include breakpoint($breakpoint-md) {
    padding: 30px;
  }

  @include breakpoint($breakpoint-xs) {
    padding: 20px 15px;
  }
}

.faq-categories {
  display: flex;
  justify-content: space-between;

  @include breakpoint($breakpoint-md) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include breakpoint($breakpoint-sm) {
    justify-content: space-between;
  }

  &__item {
    width: 20%;
    padding: 40px 40px 30px;

    border: 1px solid $grey-lighter;
    border-radius: 5px;

    color: $blue-dark;
    text-align: center;

    @include breakpoint($breakpoint-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      width: 150px;
      padding: 30px 20px;
    }

    @include breakpoint($breakpoint-md) {
      width: 45%;
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-sm) {
      width: 48%;
      padding: 15px;
    }

    &:hover {
      border-color: $brand-blue;

      color: $brand-blue;
    }

    & > p {
      margin-top: 20px;

      font-family: $main-font;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.faq-item {
  padding: 15px 30px 15px 60px;

  position: relative;

  border: 1px solid $grey-lighter;
  border-radius: 5px;

  cursor: pointer;

  transition: all .4s ease;

  &.active {
    .faq-item__answer {
      display: block;
    }

    &:before {
      transform: rotate(180deg);
      opacity: 0;
    }

    &:after {
      transform: rotate(180deg);
    }
  }

  & + & {
    margin-top: 20px;
  }

  &:before,
  &:after {
    display: block;
    width: 22px;
    height: 4px;

    position: absolute;
    top: 27px;
    left: 15px;

    content: "";
    background-color: $brand-blue;
    border-radius: 4px;
    transition: all .4s ease;
  }

  &:after {
    transform: rotate(90deg);
  }

  &__question {
    margin: 0;

    font-family: $main-font;
    font-size: 19px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__answer {
    display: none;

    margin-top: 20px;

    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-dark;
  }
}

.faq-search {
  position: relative;

  & > img {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 10px;
  }

  & > button {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 10px;
    
    background-color: transparent;
    border: none;
  }

  & > .site-input {
    padding-right: 40px;
  }
}

.faq-info {
  display: flex;

  margin-top: 50px;
  padding: 0 40px;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;
  }

  &__articles {
    width: 40%;
    margin-right: 80px;

    @include breakpoint($breakpoint-md) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__contacts {
    width: 70%;

    @include breakpoint($breakpoint-md) {
      width: 100%; 
    }
  }

  &__title {
    margin-bottom: 30px;

    font-family: $main-font;
    font-size: 20px;
    font-weight: 500;
    color: $blue-dark;
  }
}

.faq-info-article {
  margin-bottom: 30px;

  &__name {
    margin-bottom: 10px;

    font-family: $main-font;
    font-size: 17px;
    font-weight: 500;
    color: $brand-blue;
  }

  &__text {
    font-family: $main-font;
    font-size: 15px;
    line-height: 1.5;
    color: $grey-dark;
  }
}

.faq-info-contact {
  display: flex;
  align-items: center;

  margin-bottom: 50px;

  @include breakpoint($breakpoint-sm) {
    flex-direction: column;
  }

  &__desc {
    width: 60%;
    margin-right: auto;

    font-family: $main-font;
    font-size: 15px;
    line-height: 1.5;
    color: $grey-dark;

    @include breakpoint($breakpoint-sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  & > .site-btn {
    width: 150px;
  }
}

.breadcrumbs {
  flex-grow: 1;

  width: 100%;
  padding-left: 0;

  list-style: none;

  & > li {
    display: inline-block;

    &:not(:first-child):before {
      margin: 0 10px;

      content: "/";

      font-family: $main-font;
      font-size: 17px;
      color: #989c9f;
    }

    & > a {
      font-family: $main-font;
      font-size: 17px;
      color: $brand-blue;
    }
  }
}

// Is needed for http://new.webshadow.org:3000/faq/search?utf8=%E2%9C%93&q=test
.faq-list {
  .faq-search {
    margin-bottom: 20px;
  }
}