.privacy {
  padding: 50px 0;

  &__caption {
    font-family: $main-font;
    font-size: 22px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__p {
    font-family: $main-font;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: $grey-dark;

    & > a {
      color: $brand-blue;
    }
  }

  &__list {
    & > li {
      font-family: $main-font;
      font-size: 15px;
      line-height: 1.5;
      font-weight: 400;
      color: $grey-dark;
    }
  }
}