.ws-content {
  padding-top: 35px;
  padding-bottom: 50px;

  @include breakpoint($breakpoint-md) {
    padding-top: 20px;
  }

  & > .container {
    max-width: 940px;
  }

  &-header {
    display: flex;
    align-content: center;
    justify-content: space-between;

    @include breakpoint($breakpoint-md) {
      flex-direction: column-reverse;
    }

    &__caption {
      margin: 0 0 25px;
      font-family: $main-font;
      font-size: 32px;
      font-weight: 500;
      color: $blue-dark;

      @include breakpoint($breakpoint-md) {
        padding-top: 20px;
        margin-top: 20px !important; // override semantic rule
        
        border-top: 2px solid $grey-light;

        font-size: 18px;
      }
    }
  }

  &-filters {
    display: flex;
    height: 40px;

    @include breakpoint($breakpoint-md) {
      justify-content: space-between;
      height: 32px;
    }
  }
}

.calendar {
  width: auto;
  height: 40px;
  min-width: 150px;
  margin-left: 20px;
  padding: 8px 40px 8px 20px;

  position: relative;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $shadow-light;
  border: solid 1px $grey-lighter;

  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  color: $grey;

  cursor: pointer;

  @include breakpoint($breakpoint-md) {
    width: 200px;
    height: 32px;
    padding: 6px 25px 7px 10px;
    margin-left: 10px;

    font-size: 12px;
  }

  &:after {
    display: block;
    width: 12px;
    height: 12px;

    content: "";
    position: absolute;
    right: 15px;
    top: 12px;
    
    background: url(images/icons/calendar.svg) 50% 50% no-repeat;

    @include breakpoint($breakpoint-md) {
      top: 9px;
      right: 8px;
    }
  }
}

.select-from {
  padding: 8px 20px;
  width: 150px;

  position: relative;

  box-shadow: 0 2px 4px 0 $shadow-light;
  border: solid 1px $grey-lighter;
  border-radius: 4px;

  @include breakpoint($breakpoint-md) {
    min-width: auto;
    min-height: auto;
    padding: 7px 25px 7px 10px;
    width: 140px;
    height: 32px;
  }

  &:after {
    display: block;
    width: 14px;   
    height: 10px;

    content: "";
    position: absolute;
    right: 8px;
    top: 14px;

    background: url(images/icons/dropdown.svg) 50% 50% no-repeat;
    background-size: 13px;

    @include breakpoint($breakpoint-md) {
      right: 3px;
      top: 11px;
      background-size: 10px;
    }
  }

  .text {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    color: $blue-dark;

    @include breakpoint($breakpoint-md) {
      // max-width: 60%;
      overflow: hidden;
      white-space: nowrap;
      
      font-size: 12px;
      color: $grey;
    }
  }

  .ui.floating.dropdown > .menu {
    width: 150px;
    left: -20px;

    @include breakpoint($breakpoint-md) {
      max-height: none;
      left: -12px;
    }
  }
}