.flatpickr {
  font-family: $main-font;

  &-month {
    padding-top: 5px;
    height: 40px;

    .cur-month {
      font-family: $main-font;
      font-weight: 500;
      font-size: 16px;
      color: $blue-dark !important;
    }

    .numInputWrapper {
      display: none;
    }
  }

  &-prev-month,
  &-next-month {
    top: 5px;
  }
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  border-radius: 50% !important;
  background-color: $blue-dark;
  border: none;

  // flex-basis: 30px;
  font-family: $main-font;
  z-index: 99999;
}

.flatpickr-day.selected.startRange + .endRange, .flatpickr-day.startRange.startRange + .endRange, .flatpickr-day.endRange.startRange + .endRange {
  box-shadow: none;
}

.flatpickr-day {
  // height: 30px;
  margin-bottom: 10px;


  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  color: $blue-dark;
  // line-height: 30px;
}

.flatpickr-day.inRange {
  background-color: #ecedf3;
  border-color: #ecedf3;
  box-shadow: -5px 0 0 #ecedf3, 5px 0 0 #ecedf3;

  background-color: linear-gradient(to bottom, 0% white, 25% #ecedf3, 75% white);
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  background-color: #ecedf3;
  border-color: #ecedf3;
}