.main-header {
  height: 85px;
  width: 100%;

  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(170, 190, 209, 0.23),
              inset 0 -1px 0 0 #e3e3e9;

  @include breakpoint($breakpoint-md) {
    height: 60px;
  }

  & > .container {
    display: flex;
    align-items: center;
    height: 100%;

    position: relative;
  }
}

.main-nav {
  display: flex;
  margin: 0 60px 0 auto;

  @include breakpoint($breakpoint-lg) {
    margin-right: 30px;
  }

  @include breakpoint($breakpoint-md) {
    display: none;
    flex-direction: column;
    width: 160px;
    padding: 20px 15px;

    position: absolute;
    top: 59px;
    left: -1rem;

    background: #fff;
    border: solid 1px $grey-lighter;
    box-shadow: 0 4px 30px 8px $shadow;

    z-index: 2;
  }

  &-toggle {
    display: none;
    padding: 5px;

    position: absolute;

    border: none;
    background: transparent;

    cursor: pointer;

    @include breakpoint($breakpoint-md) {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 30px;

    font-family: $main-font;
    font-size: 15px;
    font-weight: 400;
    color: $grey;

    & > img {
      width: auto;
      height: 22px;
      margin-bottom: 10px;

      @include breakpoint($breakpoint-md) {
        margin-bottom: 0;
      }
    }

    &--active {
      color: $brand-blue;
    }

    &--logout {
      display: none;
      padding: 10px 15px;
      margin: 15px -15px -20px !important;

      border-top: 1px solid $grey-light;
      background: #f5f5f5;

      font-weight: 500;
      color: $grey-dark;

      @include breakpoint($breakpoint-md) {
        display: flex;
      }
    }

    @include breakpoint($breakpoint-lg) {
      margin: 0 15px;
    }

    @include breakpoint($breakpoint-md) {
      flex-direction: row;
      align-items: center;
      margin: 0;

      & + & {
        margin-top: 20px;
      }

      & > img {
        margin-right: 15px;
      }
    }
  }
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  font-family: $main-font;
  font-size: 15px;
  font-weight: 600;
  color: $grey-dark;

  cursor: pointer;

  @include breakpoint($breakpoint-md) {
    display: none;
  }

  & > img {
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
  }

  &__username {
    display: none;
    min-width: 150px;
    padding: 5px 10px;

    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);

    background: #fff;
    border: 1px solid $grey-lighter;
    box-shadow: 0 4px 10px $shadow;
    z-index: 10;

    font-weight: 500;
  }
}

.logo {

  & > img {
    position: relative;
    top: -4px;
  }

  @include breakpoint($breakpoint-md) {
    display: none;
  }
  
  &--small {
    display: none;
    margin: 0 auto;

    & > img {
      height: 35px;
    }

    @include breakpoint($breakpoint-md) {
      display: block;
    }
  }
}

.bar {
  width: 30px;
  height: 3px;

  background: $grey;

  & + & {
    margin-top: 5px;
  }
}