.reports {
  padding: 20px;

  @include breakpoint($breakpoint-md) {
    padding: 20px 0;
  }
}

.report {
  display: flex;

  border: 1px solid $grey-lighter;
  border-radius: 4px;
  box-shadow:  0 2px 4px 0 $shadow-light;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;
  }

  & + & {
    margin-top: 25px;
  }

  &--bad .report-item__type {
    background-color: $brand-pink;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    width: 170px;

    border-right: 1px solid $grey-lighter;

    font-family: $main-font;

    & > img {
      width: 90px; 
    }

    @include breakpoint($breakpoint-md) {
      flex-direction: row;
      width: 100%;
      padding: 20px 25px;

      border-bottom: 1px solid $grey-lighter;

      & > img {
        width: 60px;
        margin-right: 20px;
      }
    }
  }

  &__type {
    margin: 20px 0 15px;
    font-size: 18px;
    font-weight: 500;
    color: $blue-dark;

    @include breakpoint($breakpoint-md) {
      margin: 0 0 10px;
      font-size: 15px;
    }
  }

  &__duration {
    font-size: 13px;
    font-weight: 500;
    color: $blue-dark;

    & > img {
      position: relative;
      top: 3px;
      left: -5px;
    }
  }

  &__content {
    width: 100%;
    max-height: 1000px;

    overflow-y: auto;
  }

  &__searches {
    width: 100%;
    padding: 16px 30px;

    border-bottom: 1px solid $grey-lighter;

    font-family: $main-font;
    font-size: 12px;
    color: $blue-dark;

    @include breakpoint($breakpoint-md) {
      padding-left: 25px;
      padding-right: 25px;
    }

    ul {
      display: inline;
      padding-left: 0;
      margin: 0;

      list-style: none;

      @include breakpoint($breakpoint-md) {
        display: block;
      }

      li {
        display: inline;
        margin-left: 10px;

        @include breakpoint($breakpoint-md) {
          margin-left: 0;
          margin-right: 10px;
        }

        &:not(:last-child):after {
          content: ",";
        }
      }
    }
  }

  &-item {
    padding: 20px 30px;

    font-family: $main-font;

    @include breakpoint($breakpoint-md) {
      padding: 20px;
    }

    & + & {
      border-top: 1px solid $grey-lighter;
    }

    &__title {
      margin-bottom: 10px;

      font-size: 15px;
      font-weight: 500;
      color: $blue-dark;
    }
    
    &__type {
      margin-right: 10px;
      padding: 2px 5px;

      background-color: $brand-blue;
      border-radius: 4px;

      font-size: 14px;
      color: #fff;
      font-weight: 600;
    }

    &__url {
      font-size: 16px;
      color: $brand-blue;
    }

    &__pages,
    &__view-all,
    &__spent,
    &__date {
      display: inline-block;

      font-size: 12px;
      color: $grey-dark;

      & > img {
        margin-right: 5px;

        position: relative;
        top: 2px;
      }
    }

    &__pages {
      margin-right: 10px;
      margin-top: 20px;
    }

    &__view-all {
      color: $brand-blue;
    }

    &__spent {
      margin-right: 10px;

    }
  }
}

.select-child {
  position: relative;

  font-family: $main-font;
  color: $blue-dark;

  z-index: 2;

  @include breakpoint($breakpoint-md) {
    margin-top: 20px;
    padding-top: 20px;
    
    border-top: 2px solid $grey-light;
  }

  .text {
    font-size: 22px;
    font-weight: 500;

    position: relative;

    @include breakpoint($breakpoint-md) {
      max-width: 120px;

      font-size: 18px;
      white-space: nowrap;

      .surname {
        display: none;
      }
    }

    &:after {
      display: block;
      width: 16px;   
      height: 10px;
  
      content: "";
      position: absolute;
      right: -30px;
      top: 5px;
  
      background: url(images/icons/dropdown.svg) 50% 50% no-repeat;
      background-size: 14px;

      @include breakpoint($breakpoint-md) {
        right: -20px;
        top: 6px;
        background-size: 12px;
      }
    }

    & > img {
      width: 48px;
      position: relative;
      top: 2px;

      @include breakpoint($breakpoint-md) {
        width: 35px;
        top: 2px;
        margin-right: 0 !important;
      }
    }
  }

  .ui.floating.dropdown > .menu {
    margin-top: 2em !important;
    padding: 20px 10px;

    box-shadow: 0 4px 30px 8px $shadow;
  }

  .ui.dropdown .menu > .item {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
    color: $grey;

    &.selected {
      color: $blue-dark;
      background: transparent;
    }

    & > img {
      width: 40px;
      position: relative;
      top: 4px;
    }
  }
}

.search-query {
  display: inline-block;
  font-family: $main-font;
  font-size: 15px;
  color: $brand-blue;

  &:not(:last-child):after {
    margin-left: 15px;
    margin-right: 15px;
    content: "|";
    color: #ced0da;
  }
}

.report-modal {

  &-row {
    display: flex;

    position: relative;

    font-family: $main-font;
    font-size: 14px;
    color: $blue-dark;

    &__name {
      width: 50%;
      padding-left: 30px;

      font-size: 15px;
      font-weight: 500;

      & > a {
        font-size: 16px;
        color: $brand-blue;
      }

      & > .js-unfold-modal-item {
        position: absolute;
        left: 0px;
        top: 8px;

        transition: transform .2s ease;
      }

      &--header {
        font-size: 15px;
      }

      &--subitem {
        padding-left: 45px;

        &:before {
          display: inline-block;
          padding-left: 45px;

          position: absolute;
          left: -20px;

          content: "- ";
          background: url('/images/icons/page.svg') 50% 50% no-repeat;

        }
      }
    }

    &__cat {
      width: 25%;

      text-align: center;
      color: $grey-dark;

      &--header {
        font-size: 15px;
      }
    }

    &__date {
      width: 25%;

      text-align: center;
      color: $grey-dark;

      &--header {
        font-size: 15px;
      }
    }
  }

  &-item {
    padding: 20px;

    & + & {
      border-top: 1px solid $grey-lighter;
    }

    &:last-child {
      .report-modal-item__list {
        border-radius: 0 0 4px 4px;
      }
    }

    &__desc {
      display: block;
      margin-bottom: 20px;

      font-size: 12px;
      color: $grey-dark;
    }

    &__list {
      display: none;
      margin: 20px -20px -20px;
      padding: 15px 20px 20px 50px;

      background: #f6f6f6;
      border-top: 1px solid $grey-lighter;

      .report-modal-row + .report-modal-row  {
        margin-top: 15px;
      }
    }

    &.unfolded {

      .report-modal-item__list {
        display: block;
      }

      .js-unfold-modal-item {
        transform: rotate(-90deg);
      }
    }
  }

  &.ui.modal {
    top: 250px;

    box-shadow: none;
  }

  &.ui.modal > .header {
    padding: 20px;

    border-radius: 4px 4px 0 0;
    border-color: $grey-lighter;

    font-family: $main-font;
    font-size: 15px;
    font-weight: 500;
    color: $blue-dark;
  }

  &.ui.modal > .content {
    padding: 0;
  }

  &.ui.modal > .close {
    top: -45px;
    right: -10px;
  }
}

.ui.dimmer {
  background: rgba(125,125,125,.5);
}

.report-alert {
  margin-top: 20px;

  font-family: $main-font;
  font-size: 16px;
  color: $grey-dark;
}