.settings {
  display: flex;
  margin-top: 20px;

  &__menu {
    margin-right: 60px;

    @include breakpoint($breakpoint-lg) {
      margin-right: 20px;
    }

    @include breakpoint($breakpoint-md) {
      display: none !important;
    }
  }

  &__content {
    width: 100%;

    position: relative;
  }

  &-btn {
    width: 130px;
    height: 40px;
    border-radius: 100px;
    border: none;
    
    background: $brand-blue;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    cursor: pointer;

    & + & {
      margin-left: 18px;
    }

    &--white {
      background-color: #fff;
      border: solid 1px #ced0da;

      color: $blue-dark;
    }
  }

  &__caption {
    display: block;
    margin: 5px 25px 25px;

    font-family: $main-font;
    font-size: 24px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__current {
    display: block;
    margin-bottom: 25px;

    font-family: $main-font;
    font-size: 32px;
    font-weight: 500;
    color: $blue-dark;

    @include breakpoint($breakpoint-md) {
      font-size: 18px;
    }
  }

  &-input {
    display: block;
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    
    border: none;
    border-bottom: 1px solid #ced0da;

    font-family: $main-font;
    font-size: 15px;

    outline: none;
    transition: border-color .2s ease;

    &::placeholder {
      color: #989c9f;
    }

    &:hover, 
    &:focus {
      border-color: $brand-blue;
    }

    &--aligned {
      margin-left: 25px;
    }

    &__controls {
      display: flex;
      align-items: center;
      
      a + a {
        margin-left: 30px;
      }
    }
  }

  &-contact {
    margin-bottom: 20px;

    font-family: $main-font;
    color: $blue-dark;
    font-size: 15px;

    & > img {
      margin-right: 5px;
      position: relative;
      top: 5px;
    }

    .is-verified {
      margin-left: 10px;
      font-family: $main-font;
      font-size: 15px;
      font-weight: 500;
      color: #ff9c29;
      text-transform: uppercase;
    }
  }

  &-device {

    & + & {
      margin-top: 30px;
    }

    &__name {
      display: flex;
      align-items: center;
      font-family: $main-font;
      font-size: 15px;
      color: $blue-dark;

      .img-wrapper {
        display: inline-block;
        width: 40px;
        margin-right: 25px;

        text-align: center;
      }
    }
  }

  &-child {

    & + & {
      margin-top: 20px;
    }

    &__icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      padding: 8px 12px;
      margin-right: 15px;
  
      background-color: $brand-pink;
      border-radius: 50%;
  
      font-size: 18px;
      color: #fff;

      &--yellow {
        background-color: #fad427;
      }

      &--purple {
        background-color: #725cd4;
      }
    }

    &__name {
      font-family: $main-font;
      font-size: 15px;
      color: $blue-dark;
    }
  }

  .ui.text.menu > .item {
    padding: 10px 25px;

    border-radius: 4px;

    font-family: $main-font;
    color: #666b85;
    font-size: 16px;

    &.active {
      color: #00c9c9;
      background-color: #f1fafa;
    }
  }

  &-panel {
    border: 1px solid $grey-lighter;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 $shadow-light;

    & + & {
      margin-top: 25px;
    }

    &__group {
      padding: 25px;

      &--center {
        & > div + div {
          margin-top: 30px;

          text-align: center;
        }

        .settings-input {
          margin-left: auto;
          margin-right: auto;
        }
      }

      & + & {
        border-top: 1px solid $grey-lighter;
      }

      .ui.checkbox {
        display: block;
        margin: 10px 0;

        & > label {
          font-family: $main-font;
          font-size: 15px;
          line-height: 1.4;
          letter-spacing: 0.1px;
          color: #676b85;
        }
      }

      .ui.checkbox input:checked~.box:before,
      .ui.checkbox input:checked~label:before {
        background: $blue-dark;
        border-color: $blue-dark;
      }

      .ui.checkbox input:checked~.box:after,
      .ui.checkbox input:checked~label:after {
        color: $brand-blue;
        font-size: 13px;
      }

      .ui.checkbox .box:before,
      .ui.checkbox label:before {
        border: 2px solid #ced0da;
      }
    }

    &__desc {
      margin-top: 10px;
      margin-bottom: 0;
      max-width: 500px;

      font-family: $main-font;
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.1px;
      color: #676b85;

      @include breakpoint($breakpoint-lg) {
        max-width: 300px;
      }

      @include breakpoint($breakpoint-md) {
        max-width: 500px;
      }

      & > a {
        color: $brand-blue;
      }
    }

    &__label {
      font-family: $main-font;
      font-size: 16px;
      color: $blue-dark;
    }
  }
}

.space-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }
}

// TOGGLE SWITCH
.toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 30px;
  display: inline-block;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "On Off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  background: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-indent: -32px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #14bf78;
}

.toggle:checked:before {
  left: 45px;
}

.settings .dropdown {
  width: 200px;
  padding: 8px 30px 8px 10px;

  box-shadow: 0 2px 4px 0 $shadow-light;
  border: solid 1px $grey-lighter;
  border-radius: 4px;

  &:after {
    display: block;
    width: 14px;   
    height: 10px;

    content: "";
    position: absolute;
    right: 8px;
    top: 14px;

    background: url(images/icons/dropdown.svg) 50% 50% no-repeat;
    background-size: 13px;

    @include breakpoint($breakpoint-md) {
      right: 3px;
      top: 11px;
      background-size: 10px;
    }
  }
}

.settings-picture {
  width: 140px;
  height: 140px;
  margin: 30px auto 0;

  position: relative;

  background: #eaeaea;
  border-radius: 50%;

  & > img {
    border-radius: 50%;
    max-width: 100%;
  }

  & > button {
    width: 44px;
    height: 44px;

    position: absolute;
    right: 0;
    bottom: 0;

    background: $brand-blue;
    border: 4px solid #fff;
    border-radius: 50%;

    color: #fff;
    font-size: 24px;

    cursor: pointer;
  }
}

.settings-dropdown {
  display: none;

  position: absolute;
  right: 0;
  top: -10px;

  @include breakpoint($breakpoint-md) {
    display: block;
  }

  .ui.dropdown {
    width: 180px;

    background: #f1fafa;
    border: none;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    color: $brand-blue;
  }

  .ui.floating.dropdown > .menu {
    width: 180px;

    border-radius: 4px !important;
    background-color: #ffffff;
    box-shadow: 0 4px 30px 8px $shadow !important;
    border: solid 1px $grey-lighter;
  }

  .ui.dropdown .menu > .item {
    font-family: $main-font;
    font-size: 16px;
    color: $grey;
  }

  .ui.dropdown .menu .selected.item,
  .ui.dropdown.selected {
    background: transparent;
    font-weight: 400;
    color: $brand-blue;
  }
}