.summary {
  display: flex;
  align-content: center;
  height: 180px;
  padding: 15px 0;

	border: solid 1px $grey-lighter;
  border-radius: 4px;
	background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(187, 207, 226, 0.14);

  font-family: $main-font;

  transition: .2s height ease;
  
  & + & {
    margin-top: 20px;
  }

  @include breakpoint($breakpoint-lg) {
    height: 220px;
  }

  @include breakpoint($breakpoint-md) {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }

  &--red {
    border-color: $brand-pink;

    .summary-info__btn {
      background: $brand-pink;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;

    border-right: 1px solid $grey-lighter;
    text-align: center;

    @include breakpoint($breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      height: 65px;
      margin: 0 20px;
      padding: 20px 0;

      border-right: none;
      border-bottom: 1px solid $grey-lighter;
    }

    &__name {
      font-size: 24px;
      color: $blue-dark;
    }

    &__duration {
      font-size: 13px;
      font-weight: 500;
      color: $blue-dark;

      & > img {
        position: relative;
        top: 3px;
        left: -5px;
      }
    }

    &__btn {
      width: 130px;
      height: 35px;

      background-color: $brand-blue;
      border: none;
      border-radius: 90px;

      font-family: $main-font;
      font-size: 13px;
      font-weight: 500;
      color: #fff;

      cursor: pointer;

      @include breakpoint($breakpoint-md) {
        display: none;
      }

      &--responsive {
        display: none;
        margin: 0 auto;

        @include breakpoint($breakpoint-md) {
          display: block;
        }
      }
    }
  }

  &-list {
    display: flex;
    padding: 0 30px;
    align-items: center;
    transition: .2s padding ease;

    @include breakpoint($breakpoint-xl) {
      padding: 0 20px;
      align-items: flex-start;
    }

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
      padding-bottom: 25px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & + & {
      margin-left: 40px;

      @include breakpoint($breakpoint-xl) {
        margin-left: 10px;
      }

      @include breakpoint($breakpoint-md) {
        margin-left: 0;
      }
    }

    @include breakpoint($breakpoint-md) {
      flex-direction: row;
      width: 100%;
      padding-top: 25px;
    }

    &--bad {
      .summary-item__icon:after {
        display: block;
        width: 22px;
        height: 18px;

        content: "";
        position: absolute;
        top: 10px;
        right: -40px;
        background: url(images/icons/alert.svg) 50% 50% no-repeat;

        @include breakpoint($breakpoint-xl) {
          display: none;
        }
      }

      .summary-item__type {
        color: $brand-pink;
      }
    }
    
    &__icon {
      position: relative;

      & > img {
        width: 53px;
      }

      @include breakpoint($breakpoint-md) {
        margin-right: 15px;
      }
    }

    &__name {
      margin: 18px 0 10px;

      font-size: 13px;
      font-weight: 500;
      color: $blue-dark;

      @include breakpoint($breakpoint-md) {
        margin: 0;
      }
    }

    &__type {
      font-size: 12px;
      color: $blue-dark;

      @include breakpoint($breakpoint-md) {
        margin: 6px 0;
      }
    }

    &__duration {
      margin-top: 8px;

      font-size: 11px;
      font-weight: 500;
      color: $grey;

      @include breakpoint($breakpoint-md) {
        margin-top: 0;
      }
    }
  }
}