.blog {
  margin-top: 150px;
  padding: 40px 0;

  position: relative;

  @include breakpoint($breakpoint-md) {
    margin-top: 30px;
  }
}

.blog-bg {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  background-color: #f5f8f9;

  z-index: -1;

  &__part {
    width: 100%;

    background: #fff;

    transform: translateY(-50%);

    @include breakpoint($breakpoint-md) {
      height: 50px;
    }
    
    @include breakpoint($breakpoint-sm) {
      height: 25px;
    }
  }
}

.blog-wrapper {
  padding: 50px 20px;

  background-color: #fff;
  border-radius: 5px;
}

.blog-entries {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;
  }
}

.blog-entry {
  width: 270px;

  text-align: center;

  @include breakpoint($breakpoint-md) {
    width: 100%;
  }

  & + & {
    margin-left: 40px;

    @include breakpoint($breakpoint-md) {
      margin: 40px 0 0;
    }
  }

  &__title {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__desc {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-dark;
  }
}