.features {
  padding-bottom: 100px;

  @include breakpoint($breakpoint-md) {
    padding-bottom: 0;
  }
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 60px 0;

  @include breakpoint($breakpoint-md) {
    flex-direction: column;
  }
}

.feature {
  max-width: 280px;

  text-align: center;

  @include breakpoint($breakpoint-md) {
    & + & {
      margin-top: 30px;
    }
  }

  &__title {
    margin-top: 0;

    font-family: $main-font;
    font-size: 22px;
    font-weight: 500;
    color: $blue-dark;
  }

  &__desc {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-dark;
  }
}