.hero {
  padding-top: 125px;

  text-align: center;

  @include breakpoint($breakpoint-md) {
    padding-top: 100px;  
  }

  &__caption {
    font-family: $main-font;
    font-size: 39px;
    font-weight: 600;
    color: $blue-dark;

    @include breakpoint($breakpoint-md) {
      font-size: 28px;
    }
  }

  &__desc {
    width: 550px;
    max-width: 100%;
    margin: 30px auto;

    font-family: $main-font;
    font-size: 22px;
    line-height: 1.5;
    color: $grey-dark;

    @include breakpoint($breakpoint-md) {
      font-size: 17px;
    }
  }

  &__cta {
    margin-bottom: 120px;

    @include breakpoint($breakpoint-md) {
      margin-bottom: 0;
    }
  }

  &__bg {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    overflow: hidden;

    @include breakpoint($breakpoint-md) {
      margin-top: 50px;
    }

    & > img {
      width: 100%;
      min-width: 1000px;
    }
  }
}