.steps {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($breakpoint-md) {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 135px;

  position: relative;

  text-align: center;

  @include breakpoint($breakpoint-md) {
    flex-basis: 50%;

    margin-bottom: 20px;
    
    font-size: 17px;
  }

  & + & {
    margin-left: 120px;

    @include breakpoint($breakpoint-md) {
      margin-left: 0;
    }
  }

  &:after {
    display: block;
    width: 90px;
    height: 42px;

    content: "";
    position: absolute;
    right: -100px;
    top: 20px;

    background: url(images/ls-divider.svg) 50% 50% no-repeat;

    @include breakpoint($breakpoint-md) {
      display: none;
    }
  }

  &:nth-child(2n):after {
    transform: scale(-1, 1);
  }

  &:last-child:after {
    display: none;
  }

  &__name {
    font-family: $main-font;
    font-size: 17px;
    font-weight: 500;
    color: $blue-dark;
  }
}