.testimonials {
  &__content {
    display: flex;

    position: relative;

    z-index: 5;

    @include breakpoint($breakpoint-lg) {
      flex-direction: column;
    }
  }

  .section-bg {
    top: -250px;
    height: 200px;

    &__part {
      top: 0;
      bottom: auto;
    }
  }
}

.testimonials-slider {
  width: 100%;
  padding: 35px;
  margin-right: 25px;

  border-radius: 4px;
  background: rgba(255,255,255,.95);

  @include breakpoint($breakpoint-lg) {
    margin: 0 0 15px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;

    & > a {
      display: block;

      margin: 0 5px;
      width: 15px;
      height: 15px;

      border-radius: 50%;
      background: $grey-light;

      &.active {
        background-color: $brand-pink;
      }
    }
  }
}

.testimonial {
  display: none;
  align-items: flex-start;

  @include breakpoint($breakpoint-lg) {
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  &--active {
    display: flex;
  }

  &__name {
    margin-bottom: 0;

    font-family: $main-font;
    font-size: 28px;
    color: $blue-dark;
  }

  &__desc {
    margin-bottom: 20px;

    font-family: $main-font;
    font-size: 15px;
    color: $grey;
  }

  &__text {
    height: 110px;

    font-family: $main-font;
    font-size: 16px;
    color: $blue-dark;

    overflow: hidden;

    @include breakpoint($breakpoint-xl) {
      height: 195px;
    }

    @include breakpoint($breakpoint-md) {
      height: 175px;
    }

    @include breakpoint($breakpoint-sm) {
      height: 220px;
    }

    @include breakpoint($breakpoint-xs) {
      height: 290px;
    }

    &:before { content: "“ " }
    &:after { content: " “" }
  }

  & > img {
    margin-right: 25px;

    @include breakpoint($breakpoint-lg) {
      margin: 0 0 10px;
    }
  }
}

.testimonials-video {
  display: flex;

  max-width: 100%;
  position: relative;

  cursor: pointer;

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;

    font-family: $main-font;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;

    transform: translate(-50%, -50%);

    & > p {
      margin-top: 10px;
    }
  }

  &__bg {
    min-width: 380px;
    min-height: 300px;

    background-color: $blue-dark;
    border-radius: 5px;

    @include breakpoint($breakpoint-lg) {
      width: 100%;
      min-width: 280px;
      min-height: 190px;
    }
  }
}