.why-us {
  padding-bottom: 80px;
  text-align: center;

  &__title {
    margin: 0 0 15px;

    font-family: $main-font;
    font-size: 15px;
    font-weight: 400;
    color: $brand-pink;
    text-transform: uppercase;
    text-align: center;
  }

  &__desc {
    max-width: 650px;
    margin: 0 auto 30px;

    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: $grey-dark;
    text-align: center;
  }
}