<!-- MAIN HEADER -->
<header class="site-header">
  <div class="ui container">
    <a class="site-header-logo" href="#">
      <img class="site-header-logo__big" src="images/logo.svg" alt="" height="32">
      <img class="site-header-logo__small" src="images/logo-small.svg" alt="" height="32">
    </a>

    <button class="site-header-nav-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>

    <nav class="site-header-nav">
      <a class="site-header-link" href="landing.html">Features</a>
      <a class="site-header-link" href="landing.html">Why Us?</a>
      <a class="site-header-link" href="download.html">Download</a>
      <a class="site-header-link" href="faq.html">FAQ</a>
      <a class="site-header-link" href="blog.html">Blog</a>
      <a class="site-header-link" href="contact.html">Contact us</a>

      <div class="site-header-misc-wrapper site-header-misc-wrapper--logged">
        <a class="site-header-link" href="report.html">
          <img class="site-header-link__icon" src="images/icons/reports.svg" alt="">
          <span>Reports</span>
        </a>
        <a class="site-header-link" href="settings.html">
          <img class="site-header-link__icon" src="images/icons/settings.svg" alt="">
          <span>Settings</span>
        </a>
        <a class="site-header-link site-header-link--bold" href="#">
          <img class="site-header-link__icon" src="images/icons/logout.svg" width="22" alt="">
          <span>Log Out</span>
        </a>
      </div>
    </nav>

  </div>
</header>
<!-- /MAIN HEADER -->