<!-- FOOTER -->
<footer class="site-footer site-footer--white">
  <div class="site-waves site-waves--footer">
    <img src="images/waves.svg" alt="">
  </div>

  <div class="ui container">
    <div class="site-footer-info">
      <img src="images/logo-small.svg" width="80" alt="">
      <p class="site-footer-info__desc">
        A service of GuardYourEyes<br/>
        P.O. Box 32380, Pikesville, MD 21282, U.S.A.
      </p>
      <p class="site-footer-info__desc">
        ©2018 WebShadow. All Rights Reserved.
      </p>
    </div>

    <div class="site-footer-navs">
      <!-- footer nav -->
      <nav class="site-footer-nav">
        <h4 class="site-footer-nav__title">Company</h4>

        <div class="site-footer-nav__row">
          <div class="site-footer-nav__col">
            <a class="site-footer-nav__item" href="about.html">About Us</a>
            <a class="site-footer-nav__item" href="landing.html">Why Us?</a>
            <a class="site-footer-nav__item" href="landing.html">Features</a>
            <a class="site-footer-nav__item" href="download.html">Download</a>
          </div>  
          <div class="site-footer-nav__col">
            <a class="site-footer-nav__item" href="faq.html">FAQ</a>
            <a class="site-footer-nav__item" href="blog.html">Blog</a>
            <a class="site-footer-nav__item" href="contact.html">Contact</a>
          </div>  
        </div> 
      </nav>
      <!-- /footer nav -->

      <!-- footer nav -->
      <nav class="site-footer-nav">
        <h4 class="site-footer-nav__title">Connect with us</h4>
        
        <a class="site-footer-nav__item" href="#">
          <img src="images/icons/l-facebook.svg" alt="">
            Facebook
        </a>
        <a class="site-footer-nav__item" href="#">
          <img src="images/icons/l-twitter.svg" alt="">
          Twitter
        </a>
      </nav>
      <!-- /footer nav -->
    </div>
  </div>
</footer>
<!-- /FOOTER -->