<!-- MAIN HEADER -->
<header class="site-header">
  <div class="ui container">
    <a class="site-header-logo" href="#">
      <img class="site-header-logo__big" src="images/logo.svg" alt="" height="32">
      <img class="site-header-logo__small" src="images/logo-small.svg" alt="" height="32">
    </a>

    <button class="site-header-nav-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    
    <nav class="site-header-nav">
      <a class="site-header-link" href="landing.html">Features</a>
      <a class="site-header-link" href="landing.html">Why Us?</a>
      <a class="site-header-link" href="download.html">Download</a>
      <a class="site-header-link" href="faq.html">FAQ</a>
      <a class="site-header-link" href="blog.html">Blog</a>
      <a class="site-header-link" href="contact.html">Contact us</a>

      <div class="site-header-misc-wrapper">
        <a class="site-header-link" href="#">Log in</a>
        <a class="site-header-link site-header-link--cta" href="#">Get started</a>
      </div>
    </nav>

  </div>
</header>
<!-- /MAIN HEADER -->