.login-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 600px;
  height: 90px;
  padding: 0 50px;

  position: fixed;
  top: 0;
  left: 50%;

  background-color: $blue-dark;
  
  font-family: $main-font;
  font-size: 17px;
  color: #fff;

  transform: translateX(-50%);
  box-sizing: border-box;
  
  @include breakpoint($breakpoint-md) {
    width: 400px;
  }
  
  @include breakpoint($breakpoint-sm) {
    width: 350px;
  }
  
  & > img {
    margin-right: 30px;
  }
}