.login-form {
  width: 585px;
  max-width: 100%;
  margin: 50px auto 0;
  padding: 35px 40px;

	background-color: #fff;
  box-shadow: 0 2px 5px 1px rgba(186, 195, 203, 0.3);
  
  text-align: left;

  @include breakpoint($breakpoint-md) {
    padding: 20px;
  }

  &--no-padding {
    padding: 0;
  }

  .ui.top.attached.menu {
    border-bottom: none;

    & > .item {
      display: inline-block;

      width: 50%;
      height: 70px;

      border: none;
      background-color: #f1f1f4;

      font-family: $main-font;
      font-size: 22px;
      line-height: 30px;
      font-weight: 500;
      color: $grey;
      text-align: center;

      @include breakpoint($breakpoint-sm) {
        font-size: 18px;
      }

      &.active {
        background-color: #fff;

        color: $blue-dark;
      }
    }
  }

  .ui.attached.segment {
    padding: 40px;

    border: none;
  }
}