.register__caption {
  margin: 40px 0 20px;

  font-family: $main-font;
  font-size: 39px;
  font-weight: bold;
  color: $blue-dark;
  line-height: 1.2;
}

.register__desc {
  margin-bottom: 50px;

  font-family: $main-font;
  font-size: 22px;
  color: $grey-dark;
  line-height: 1.4;
}

.gap {
  margin-bottom: 100px;

  @include breakpoint($breakpoint-md) {
    margin-bottom: 0;
  }
}