.w-form {
  
  &__container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    top: 22px;
    right: 0;
  }

  &__eye {
    display: block;
    width: 22px;
    height: 14px;
    background: url(images/icons/form-eye-closed.svg) 50% 50% no-repeat;

    &.opened {
      background-image: url(images/icons/form-eye.svg);
    }
  }

  &__caption {
    margin-bottom: 40px;
    
    font-family: $main-font;
    font-weight: 500;
    color: $blue-dark;
    font-size: 22px;
    text-align: left;

    &--center {
      text-align: center;
    }

    & > small {
      margin-left: 10px;
      color: $grey-dark;
      font-size: 14px;
      font-weight: 400;

      @include breakpoint($breakpoint-md) {
        display: block;
        margin: 10px 0;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;

    border: none;
    border-bottom: 1px solid #ced0da;

    font-family: $main-font;
    font-size: 17px;
    color: $blue-dark;

    &.ui.dropdown {

      .menu {
        width: 100%;
        top: 49px;

        border-radius: 0;
        box-shadow: none;
      }

      &:after {
        display: block;
        width: 14px;   
        height: 10px;
    
        content: "";
        position: absolute;
        right: 8px;
        top: 22px;
    
        background: url(images/icons/dropdown.svg) 50% 50% no-repeat;
        background-size: 13px;
    
        @include breakpoint($breakpoint-md) {
          right: 3px;
          top: 11px;
          background-size: 10px;
        }
      }
    }

    &--md {
      max-width: 340px;
    }

    &--sm {
      width: 50%;

      &:first-child {
        margin-right: 20px;

        @include breakpoint($breakpoint-md) {
          margin-right: 0;
        }
      }

      @include breakpoint($breakpoint-md) {
        width: 100%;
      }
    }

    &::placeholder {
      color: #989c9f;
    }
  }

  &__btn {
    height: 50px;
    width: 100%;
    margin-bottom: 30px;

    border: none;
    border-radius: 50px;
    background: $brand-pink;

    font-family: $main-font;
    font-size: 19px;
    font-weight: bold;
    color: #fff;

    &--small {
      width: 185px;
      min-width: 185px;
      margin-left: 20px;

      @include breakpoint($breakpoint-md) {
        width: 100%;
        margin-left: 0;
      }
    }

    &--white {
      background: #fff;

      color: $brand-blue;
      border: solid 1px #e2e3e8;
    }
  }

  &__children {
    & > .settings-child {
      margin-bottom: 20px;
    }
  }

  &__register {
    font-family: $main-font;
    font-size: 14px;
    color: $grey-dark;
    text-align: center;

    & > a {
      color: $brand-blue;
    }
  }
}