.login-wrapper {
  min-height: 100%;
  width: 100%;
  padding: 100px 15px;

  background-color: $login-background;
  text-align: center;

  @include breakpoint($breakpoint-md) {
    padding: 50px 20px;
  }

  &--with-banner {
    padding-top: 150px;
  }
}

.register__wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  background: #fff;

  text-align: center;

  @include breakpoint($breakpoint-md) {
    padding: 50px 20px;
  }
}