<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - About us</title>
</head>
<body>
  
  {% include "partials/site-header.html" %}

  <!-- PAGE-HEADER CONTENT -->
  <header class="page-header page-header--about" style="background-image: url(images/blog-bg.svg);">
    <div class="ui container">
      <h1 class="page-header__caption">About Us</h1>
      <img class="page-header__pattern" src="images/header-about.svg" alt="">
    </div>
  </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- BLOG CONTENT -->
  <nav class="site-subnav">
    <div class="ui container">
      <a class="site-subnav__item site-subnav__item--active" href="#">Organization</a>
      <a class="site-subnav__item" href="#">History</a>
      <a class="site-subnav__item" href="#">Mission & Values</a>
    </div>
  </nav>

  <section class="about-org">
    <div class="ui container">
      <h4 class="pink-label">ORGANIZATION</h4>
      <h2 class="section-caption">What is Webshadow?</h2>
      <p class="about-p">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
      </p>

      <div class="about-org__stats-list">
        <div class="about-org-stats-item">
          <img src="images/about-fam.svg" alt="">
          <div>
            <p class="about-org-stats-item__number">60k</p>
            <p class="about-org-stats-item__label">Families Helped</p>
          </div>
        </div>
        <div class="about-org-stats-item">
          <img src="images/about-kids.svg" alt="">
          <div>
            <p class="about-org-stats-item__number">123k</p>
            <p class="about-org-stats-item__label">Kids Monitored</p>
          </div>
        </div>
        <div class="about-org-stats-item">
          <img src="images/about-countries.svg" alt="">
          <div>
            <p class="about-org-stats-item__number">23</p>
            <p class="about-org-stats-item__label">Countries Worldwide</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INFOS -->
  <section class="infos infos--about">
    <!-- info block-->
    <div class="info">
      <div class="ui container">
        <img class="info__pic" src="images/about-history.svg" alt="">
        
        <div class="info-desc">
          <h4 class="pink-label">History</h4>

          <h2 class="section-caption">A Guardyoureyes Project</h2>

          <p class="about-p">Webshadow founded in 2016 was developed to fill the need and was build with a guidance from the best experts in the field and through the personal experience of hundreds of people to aid parents in protecting their kids online from destructive websites.</p>
        </div>
      </div>
    </div>
    <!-- /info block-->

    <!-- info block-->
    <div class="info">
      <div class="ui container">
        <img class="info__pic" src="images/gye-logo.svg"  alt="">

        <div class="info-desc">
          <p class="about-p">The <a href="#">GuardYourEyes</a> organization it is becoming known throughout the Jewish world today as the number one resource for dealing with the growing problem of the struggle with/addiction to inappropriate materials on the Internet and related behaviors in our communities.</p>
        </div>
      </div>
    </div>
    <!-- /info block-->

    <div class="infos-bg">
      <img class="infos-bg__part" src="images/shape-g.svg" alt="">
      <img class="infos-bg__part infos-bg__part--bottom" src="images/shape-g.svg" alt="">
    </div>
  </section>
  <!-- /INFOS -->

  <section class="about-quote">
    <div class="ui container">
      <h2 class="section-caption">
        Mission & Values
      </h2>
      <blockquote class="about-quote__content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
      </blockquote>
    </div>
  </section>

  {% include "partials/site-footer.html" %}

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>