<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Blog</title>
</head>
<body>
  
  {% include "partials/site-header-blog.html" %}

  <!-- PAGE-HEADER CONTENT -->
  <header class="page-header page-header--blog" style="background-image: url(images/blog-bg.svg);">
    <div class="ui container">
      <h6 class="featured-article">
        featured article
      </h6>
      <h3 class="featured-article__title">
        3 tips to keep your child away <br/>
        from harmful websites
      </h3>
    </div>
    <img class="blog-pic" src="images/blog-boy.svg" alt="">
  </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- BLOG CONTENT -->
  <nav class="site-subnav">
    <div class="ui container">
      <a class="site-subnav__item site-subnav__item--active" href="#">Most Recent</a>
      <a class="site-subnav__item" href="#">Popular</a>
      <a class="site-subnav__item" href="#">Growth</a>
      <a class="site-subnav__item" href="#">Customer Service</a>
      <a class="site-subnav__item" href="#">Culture</a>
      <a class="site-subnav__item" href="#">Product</a>
    </div>
  </nav>

  <div class="blog-articles-list">
    <div class="ui container">
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <!-- blog article card -->
      <div class="blog-article-card">
        <img src="images/blog-article-card-pic.svg" alt="">
        <p class="blog-article-card__cat">Parents</p>
        <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
      </div>
      <!-- /blog article card -->
      <div class="blog-articles-list__controls">
        <button class="site-btn site-btn--white">
          Older Articles
        </button>
        <button class="site-btn site-btn--white">
          View All
        </button>
      </div>
    </div>
  </div>
  <!-- /BLOG CONTENT -->

  {% include "partials/site-footer.html" %}
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>