<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Blog Article</title>
</head>
<body>
  
  {% include "partials/site-header-blog.html" %}

  <!-- PAGE-HEADER CONTENT -->
  <header class="page-header page-header--blog" style="background-image: url(images/blog-bg.svg);">
    <div class="ui container">
      <h6 class="featured-article">
        featured article
      </h6>
      <h3 class="featured-article__title">
        3 tips to keep your child away <br/>
        from harmful websites
      </h3>
    </div>
    <img class="blog-pic" src="images/blog-boy.svg" alt="">
  </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- BLOG CONTENT -->
  <div class="blog-article-body">
    <div class="ui container">
      <h1 class="blog-article-body__title">
        3 Tips Ipsum is simply dummy text of the printing and 		typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.
      </h1>

      <p class="blog-article-body__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, officia ad impedit esse sunt veritatis deleniti quod nesciunt! Incidunt repellendus dicta similique aut quidem ea assumenda doloribus magni tenetur magnam. Consectetur deserunt, est incidunt repudiandae fugit sapiente saepe, fuga reiciendis voluptates accusamus dolorum ab ducimus aperiam eum autem quis ipsum.
      </p>

      <p class="blog-article-body__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, officia ad impedit esse sunt veritatis deleniti quod nesciunt! Incidunt repellendus dicta similique aut quidem ea assumenda doloribus magni tenetur magnam. Consectetur deserunt, est incidunt repudiandae fugit sapiente saepe, fuga reiciendis voluptates accusamus dolorum ab ducimus aperiam eum autem quis ipsum.
      </p>

      <a class="blog-article-body__related" href="#">
        3 Tips on how to control your childs habits
      </a>

      <h2 class="blog-article-body__subtitle">
        Lorem, ipsum dolor
      </h2>

      <p class="blog-article-body__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, officia ad impedit esse sunt veritatis deleniti quod nesciunt! Incidunt repellendus dicta similique aut quidem ea assumenda doloribus magni tenetur magnam. Consectetur deserunt, est incidunt repudiandae fugit sapiente saepe, fuga reiciendis voluptates accusamus dolorum ab ducimus aperiam eum autem quis ipsum.
      </p>

      <p class="blog-article-body__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, officia ad impedit esse sunt veritatis deleniti quod nesciunt! Incidunt repellendus dicta similique aut
      </p>

      <div class="blog-adv-article">
        <img src="http://unsplash.it/250/150" alt="">
        <div>
          <p class="blog-adv-article__name">
            3 Tips to Keep your Child Away From Harmful Websites
          </p>
          <p class="blog-adv-article__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ratione fuga repudiandae distinctio iusto itaque deleniti architecto maxime accusamus aspernatur sit voluptatem, ut veritatis tempore placeat quo. Voluptates, dicta fugiat!
          </p>
          <a href="#" class="blog-adv-article__link">Read article</a>
        </div>
      </div>

      <div class="blog-subscribe-form">
        <p class="blog-subscribe-form__desc">
          Was this article useful?  Sign-up and we’ll send you more like this every two weeks
        </p>
        <div class="blog-subscribe-form__input-wrapper">
          <input type="text" class="site-input site-input--fw" placeholder="Email Address">
        </div>
        <button class="site-btn site-btn--blue">Sign Up</button>
        <p class="blog-subscribe-form__comment">No sales pitches, no games, and no one-click unsubscribe.</p>
      </div>

      <h3 class="blog-article-body__section">
        <span>Recommended articles</span>
      </h3>

      <div class="blog-articles-list blog-articles-list--small">
        <div class="ui container">
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
        </div>
      </div>

      <h3 class="blog-article-body__section">
        <span>Most popular</span>
      </h3>

      <div class="blog-articles-list blog-articles-list--small">
        <div class="ui container">
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
          <!-- blog article card -->
          <div class="blog-article-card">
            <img src="images/blog-article-card-pic.svg" alt="">
            <p class="blog-article-card__cat">Parents</p>
            <p class="blog-article-card__name">3 tips to keep your child away from harmful websites</p>
          </div>
          <!-- /blog article card -->
        </div>
      </div>

    </div>
  </div>
  <!-- /BLOG CONTENT -->

  {% include "partials/site-footer.html" %}

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>