<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Contact</title>
</head>
<body>
  
  {% include "partials/site-header.html" %}

  <!-- PAGE-HEADER CONTENT -->
    <header class="page-header">
      <div class="ui container">
        <h1 class="page-header__caption">Contact Us</h1>
      </div>
    </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- CONTACT -->
  <div class="contact">
    <div class="contact-col">
      <p class="contact-col__title">
        We want to Hear from you
      </p>
      <input type="text" class="site-input" placeholder="Your Name">
      <input type="email" class="site-input" placeholder="Email Address">
      <textarea class="site-input" placeholder="Message" rows="5"></textarea>
      <button class="site-btn site-btn--form">Submit</button>
    </div>
    <div class="contact-col contact-col--inverted">
      <p class="contact-col__title">
        Contact Information
      </p>

      <p class="contact-col__info">
        <img src="images/icons/contact-address.svg" alt="">
        P.O. Box 32380, Pikesville, MD 21282, U.S.A.
      </p>
      <p class="contact-col__info">
        <img src="images/icons/contact-phone.svg" alt="">
        24/7 Support (480) 000-0000
      </p>
      <p class="contact-col__info">
        <img src="images/icons/contact-mail.svg" alt="">
        info@webshadow.org
      </p>
      <div class="contact-col__social">
        <a href="#">
          <img src="images/icons/contact-fb.svg" alt="">
        </a>
        <a href="#">
          <img src="images/icons/contact-tw.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <!-- /CONTACT -->

  {% include "partials/site-footer.html" %}
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>