<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Download</title>
</head>
<body>
  
  {% include "partials/site-header.html" %}

  <!-- DOWNLOAD -->
  <section class="download">
    <div class="download-col">
      <div class="download-col__wrapper">
        <p class="download-col__for">DOWNLOAD WEBSHADOW FOR</p>
        <h2 class="download-col__platform">Phones</h2>
        <div class="download-phones">
          <div class="download-phones__item">
            <img src="images/android.svg" width="162" alt="">
            <a href="#">Android</a>
          </div>
          <div class="download-phones__item">
            <img src="images/iphone.svg" width="120" alt="">
            <a href="#">iPhone</a>
          </div>
        </div>
        <p class="download-col__desc">Visit <a href="#">webshadow.org/dl</a> on your childs mobile phone to install</p>
        <p class="download-col__desc download-col__desc--or">or</p>
        <p class="download-col__desc">Share <a href="#">this link</a> to download page</p>
      </div>
    </div>

    <div class="download-col download-col--pc">
      <div class="download-col__wrapper">
        <p class="download-col__for">DOWNLOAD WEBSHADOW FOR</p>
        <h2 class="download-col__platform">Windows PC</h2>
        <div class="download-pc">
          <img src="images/windows.png" alt="">
          <div class="download-pc__how-to">
            <img src="images/icons/play.svg" alt="">
            <p>How to install</p>
          </div>
        </div>
        <p class="download-col__desc download-col__desc--agree">
          By clicking the Download button, you agree to our <a href="#">Terms & Privacy Policy.</a>
        </p>
        <button class="site-btn">Download App</button>
      </div>
    </div>
  </section>
  <!-- /DOWNLOAD -->

  <!-- FOOTER -->
  <footer class="site-footer site-footer--white site-footer--download">
    <div class="site-waves site-waves--footer">
      <img src="images/waves.svg" alt="">
    </div>

    <div class="ui container">
      <div class="site-footer-info">
        <img src="images/logo-small.svg" width="80" alt="">
        <p class="site-footer-info__desc">
          A service of GuardYourEyes<br/>
          P.O. Box 32380, Pikesville, MD 21282, U.S.A.
        </p>
        <p class="site-footer-info__desc">
          ©2018 WebShadow. All Rights Reserved.
        </p>
      </div>

      <div class="site-footer-navs">
        <!-- footer nav -->
        <nav class="site-footer-nav">
          <h4 class="site-footer-nav__title">Company</h4>

          <div class="site-footer-nav__row">
            <div class="site-footer-nav__col">
              <a class="site-footer-nav__item" href="about.html">About Us</a>
              <a class="site-footer-nav__item" href="landing.html">Why Us?</a>
              <a class="site-footer-nav__item" href="landing.html">Features</a>
              <a class="site-footer-nav__item" href="download.html">Download</a>
            </div>  
            <div class="site-footer-nav__col">
              <a class="site-footer-nav__item" href="faq.html">FAQ</a>
              <a class="site-footer-nav__item" href="blog.html">Blog</a>
              <a class="site-footer-nav__item" href="contact.html">Contact</a>
            </div>  
          </div> 
        </nav>
        <!-- /footer nav -->

        <!-- footer nav -->
        <nav class="site-footer-nav">
          <h4 class="site-footer-nav__title">Connect with us</h4>
          
          <a class="site-footer-nav__item" href="#">
            <img src="images/icons/l-facebook.svg" alt="">
              Facebook
          </a>
          <a class="site-footer-nav__item" href="#">
            <img src="images/icons/l-twitter.svg" alt="">
            Twitter
          </a>
        </nav>
        <!-- /footer nav -->
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>