<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - FAQ Questions</title>
</head>
<body>
  
  {% include "partials/site-header.html" %}

  <!-- PAGE-HEADER CONTENT -->
  <header class="page-header page-header--with-search">
    <div class="ui container">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
      <h1 class="page-header__title">Frequently Asked Questions</h1>
      <div class="page-header__search">
        <img src="images/icons/search.svg" alt="">
        <input class="site-input" type="text">
      </div>
      <div class="page-header__phone">24/7 Support (480) 000-0000</div>
    </div>
  </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- FAQ CONTENT -->
  <section class="faq">
    <div class="ui container">
      <div class="faq-list">
        <div class="faq-item active">
          <p class="faq-item__question">What is Webshadow?</p>
          <div class="faq-item__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore aspernatur earum magni nesciunt esse molestias sapiente cum consequuntur hic.</div>
        </div>
        <div class="faq-item">
          <p class="faq-item__question">How does it work?</p>
          <div class="faq-item__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore aspernatur earum magni nesciunt esse molestias sapiente cum consequuntur hic.</div>
        </div>
        <div class="faq-item">
          <p class="faq-item__question">Will I  see my kids chat conversation?</p>
          <div class="faq-item__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore aspernatur earum magni nesciunt esse molestias sapiente cum consequuntur hic.</div>
        </div>
        <div class="faq-item">
          <p class="faq-item__question">How will I be protected?</p>
          <div class="faq-item__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore aspernatur earum magni nesciunt esse molestias sapiente cum consequuntur hic.</div>
        </div>
        <div class="faq-item">
          <p class="faq-item__question">What are the limitations of Webshadow?</p>
          <div class="faq-item__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore aspernatur earum magni nesciunt esse molestias sapiente cum consequuntur hic.</div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FAQ CONTENT -->

  {% include "partials/site-footer.html" %}

  <script>
    var items = document.getElementsByClassName("faq-item");
    
    for(var i = 0; i < items.length; i++) {
      items[i].onclick = function() {
        this.classList.toggle("active");
      };
    }
  </script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>