<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - FAQ</title>
</head>
<body>
  
  {% include "partials/site-header-logged.html" %}

  <!-- PAGE-HEADER CONTENT -->
    <header class="page-header">
      <div class="ui container">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
        <h1 class="page-header__title">Frequently Asked Questions</h1>
        <div class="page-header__phone">24/7 Support (480) 000-0000</div>
      </div>
    </header>
  <!-- /PAGE-HEADER CONTENT -->

  <!-- FAQ CONTENT -->
  <section class="faq">
    <div class="ui container">
      <div class="faq-wrapper">
        <div class="faq-search">
          <img src="images/icons/search.svg" alt="">
          <input type="text" class="site-input site-input--fw" placeholder="Have a question? Ask or search term here">
        </div>
        <h3 class="faq__caption">Categories</h3>
        <div class="faq-categories">
          <div class="faq-categories__item">
            <img src="images/icons/apple.svg" alt="">
            <p>iOS</p>
          </div>
          <div class="faq-categories__item">
            <img src="images/icons/android.svg" alt="">
            <p>Android</p>
          </div>
          <div class="faq-categories__item">
            <img src="images/icons/windows.svg" alt="">
            <p>Windows</p>
          </div>
          <div class="faq-categories__item">
            <img src="images/icons/general.svg" alt="">
            <p>General</p>
          </div>
        </div>
      </div>
      <div class="faq-info">
        <div class="faq-info__articles">
          <h5 class="faq-info__title">Most helpful Articles</h5>
          <div class="faq-info-article">
            <p class="faq-info-article__name">Lorem ipsum dolor sit amet</p>
            <p class="faq-info-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ut asperiores? Necessitatibus dolor harum, inventore sint culpa, saepe magni facere
            </p>
          </div>
          <div class="faq-info-article">
            <p class="faq-info-article__name">Lorem ipsum dolor sit amet</p>
            <p class="faq-info-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ut asperiores? Necessitatibus dolor harum, inventore sint culpa, saepe magni facere
            </p>
          </div>
        </div>
        <div class="faq-info__contacts">
          <h5 class="faq-info__title">Contact us</h5>
          <div class="faq-info-contact">
            <div class="faq-info-contact__desc">
              If you can't find the answers to your questions or issues and still need help, feel free to contact our support team
            </div>
            <button class="site-btn site-btn--white site-btn--small">Contact us</button>
          </div>
          <div class="faq-info-contact">
            <div class="faq-info-contact__desc">
              Send suggestions, feedback and feature requests. Your comments will be carefully reviewed
            </div>
            <button class="site-btn site-btn--white site-btn--small">Send Feedback</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FAQ CONTENT -->

  {% include "partials/site-footer.html" %}
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>