<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Landing</title>
</head>
<body>

  {% include "partials/site-header.html" %}

  <!-- HERO -->
  <section class="hero">
    <div class="ui container">
      <h1 class="hero__caption">
        Monitor your Children’s Online Activity for Free	
      </h1>
      <p class="hero__desc">
        Our innovative software tracks their browsing, keeping you informed about the sites they visit.
      </p>
      <div class="hero__cta">
        <button class="site-btn">Get Started</button>
        <button class="site-btn site-btn--white">
          <svg width="10" height="15" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg"><path d="M0 0l10 7.13-10 7.13" fill="#00C9C9" fill-rule="evenodd"/></svg>
          How it works
        </button>
      </div>
    </div>

    <div class="hero__bg">
      <img src="images/hero.svg" alt="">
    </div>
  </section>
  <!-- /HERO -->

  <!-- FEATURES -->
  <section class="features">
    <div class="ui container">
      <h2 class="section-caption">
        Webshadow will help you monitor your kids online
      </h2>
      <div class="features-list">
        <!-- feature -->
        <div class="feature">
          <img src="images/lf-monitor.svg" alt="">
          <h4 class="feature__title">
            Monitor Kids Activity
          </h4>
          <p class="feature__desc">
            Knowing they're not alone encourages them to make good decisions online using the web.
          </p>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <img src="images/lf-alerts.svg" alt="">
          <h4 class="feature__title">
            Get Instant Alerts
          </h4>
          <p class="feature__desc">
            Get notified if your kid visits or searches for inappropriate content via an instant email and SMS alert.
          </p>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <img src="images/lf-reports.svg" alt="">
          <h4 class="feature__title">
            Concise Reports
          </h4>
          <p class="feature__desc">
            Keeps you informed about your kids' online world, providing a brief and comprehensive details.
          </p>
        </div>
        <!-- /feature -->
      </div>
    </div>
  </section>
  <!-- /FEATURES -->

  <!-- INFOS -->
  <section class="infos">
    <!-- info block-->
    <div class="info">
      <div class="ui container">
        <img class="info__pic" src="images/li-summary.png" width="503" alt="">
        
        <div class="info-desc">
          <h4 class="pink-label">INTUITIVE TOOL FOR PARENTS</h4>

          <h2 class="section-caption">View Summary Reports</h2>

          <ul class="info-desc__list">
            <li>Simple user interface for ease of use</li>
            <li>View brief summary of your kids online activity</li>
            <li>Works on iOS, Android and Windows OS</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /info block-->

    <!-- info block-->
    <div class="info">
      <div class="ui container">
        <img class="info__pic" src="images/li-detailed.svg" alt="">

        <div class="info-desc">
          <h4 class="pink-label">COMPREHENSIVE REPORTS</h4>

          <h2 class="section-caption">Get Detailed Reports</h2>

          <ul class="info-desc__list">
            <li>View detailed reports of  online activity</li>
            <li>Track the dates the site was accessed  </li>
            <li>View site pages that where accessed</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /info block-->

    <!-- info block-->
    <div class="info">
      <div class="ui container">
        <img class="info__pic" src="images/li-alerts.svg" alt="">

        <div class="info-desc">
          <h4 class="pink-label">REAL TIME ALERTS AND REPORTS</h4>

          <h2 class="section-caption">Receive alerts by email/SMS</h2>

          <ul class="info-desc__list">
            <li>Real time notifications via Email or SMS</li>
            <li>View weekly reports of your kids online activity  </li>
            <li>Choose the type of sites you want set as restricted</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /info block-->
    <div class="infos-bg">
      <img class="infos-bg__part" src="images/shape-g.svg" alt="">
      <img class="infos-bg__part infos-bg__part--bottom" src="images/shape-g.svg" alt="">
    </div>
  </section>
  <!-- /INFOS -->

  <!-- WHY US -->
  <section class="why-us">
    <div class="ui container">
      <h4 class="why-us__title">Why you need Webshadow</h4>
        
      <h2 class="section-caption">We Help You Safeguard your Children Online</h2>

      <p class="why-us__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sunt! Laboriosam maxime quo doloribus corporis exercitationem odio, suscipit autem cumque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, harum aperiam. Id distinctio perferendis vitae reiciendis velit officia, maxime cumque.
      </p>  
      <p class="why-us__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quidem vitae, minus nulla beatae esse!
      </p>  
      <!-- <button class="site-btn site-btn--white">Read more</button> -->
    </div>
  </section>
  <!-- /WHY US -->

  <!-- TESTIMONIALS -->
  <section class="testimonials">
    <div class="ui container">
      <h2 class="section-caption">
        Why Parents love Webshadow
      </h2>
      <div class="testimonials__content">
        <div class="testimonials-slider">
          <div class="testimonial testimonial--active">
            <img src="images/icons/l-avatar.png" alt="">
            <div>
              <p class="testimonial__name">Jessie Jones</p>
              <p class="testimonial__desc">Mother of 3, NY</p>
              <p class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.tempor incididunt ut labore et dolore magna aliqua.dolore magna aliqua.dolore magna aliqua.dolore magna aliqua. Ut enim ad minim veniam.tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
            </div>
          </div>
          <div class="testimonials-slider__controls">
            <a href="#"></a>
            <a class="active" href="#"></a>
            <a href="#"></a>
          </div>
        </div>
        <div class="testimonials-video">
          <div class="testimonials-video__play">
            <img src="images/icons/play.svg" alt="">
            <p>Watch Video for Kids</p>
          </div>
          <div class="testimonials-video__bg"></div>
        </div>
      </div>
    </div>
      
    <div class="site-waves">
      <img src="images/waves.svg" alt="">
    </div>

  </section>
  <!-- /TESTIMONIALS -->

  <!-- STEPS -->
  <section class="steps">
    <div class="ui container">
      <h2 class="section-caption">
        It’s Easy as 1, 2, 3
      </h2>
      <div class="steps__wrapper">
        <div class="step">
          <img src="images/ls-register.svg" alt="">
          <span class="step__name">Register Account</span>
        </div>
        <div class="step">
          <img src="images/ls-install.svg" alt="">
          <span class="step__name">Download & Install</span>
        </div>
        <div class="step">
          <img src="images/ls-settings.svg" alt="">
          <span class="step__name">Set your rules</span>
        </div>
        <div class="step">
          <img src="images/ls-monitoring.svg" alt="">
          <span class="step__name">Start Monitoring</span>
        </div>
      </div> 
    </div>
  </section>
  <!-- /STEPS -->

  <!-- CTA -->
  <section class="cta">
    <div class="ui container">
      <h2 class="section-caption">
        Get started with Webshadow today!
      </h2>
      <div class="cta__wrapper">
        <input class="site-input" type="text" placeholder="Enter your email address">
        <button class="site-btn">Get Started</button>
      </div>
    </div>
  </section>
  <!-- /CTA -->

  <!-- BLOG -->
  <section class="blog">
    <div class="ui container">
      <div class="blog-wrapper">
        <h2 class="section-caption">
          From our Blog
        </h2>

        <div class="blog-entries">
          <!-- blog entry -->
          <div class="blog-entry">
            <h4 class="blog-entry__title">
              Webshadow helped me control my kids addiction
            </h4>
            <p class="blog-entry__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor.
            </p>
            <button class="site-btn site-btn--white site-btn--small">Read more</button>
          </div>
          <!-- /blog entry -->

          <!-- blog entry -->
          <div class="blog-entry">
            <h4 class="blog-entry__title">
              Webshadow helped me control my kids addiction
            </h4>
            <p class="blog-entry__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor.
            </p>
            <button class="site-btn site-btn--white site-btn--small">Read more</button>
          </div>
          <!-- /blog entry -->

          <!-- blog entry -->
          <div class="blog-entry">
            <h4 class="blog-entry__title">
              Webshadow helped me control my kids addiction
            </h4>
            <p class="blog-entry__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor.
            </p>
            <button class="site-btn site-btn--white site-btn--small">Read more</button>
          </div>
          <!-- /blog entry -->
        </div>
      </div>
    </div>

    <div class="blog-bg">
      <img class="blog-bg__part" src="images/shape-g.svg" alt="">
    </div> 
  </section>
  <!-- /BLOG -->

  <!-- FOOTER -->
  <footer class="site-footer">
    <div class="ui container">
      <div class="site-footer-info">
        <img src="images/logo-small.svg" width="80" alt="">
        <p class="site-footer-info__desc">
          A service of GuardYourEyes<br/>
          P.O. Box 32380, Pikesville, MD 21282, U.S.A.
        </p>
        <p class="site-footer-info__desc">
          ©2018 WebShadow. All Rights Reserved.
        </p>
      </div>

      <div class="site-footer-navs">
        <!-- footer nav -->
        <nav class="site-footer-nav">
          <h4 class="site-footer-nav__title">Company</h4>
  
          <div class="site-footer-nav__row">
            <div class="site-footer-nav__col">
              <a class="site-footer-nav__item" href="about.html">About Us</a>
              <a class="site-footer-nav__item" href="landing.html">Why Us?</a>
              <a class="site-footer-nav__item" href="landing.html">Features</a>
              <a class="site-footer-nav__item" href="download.html">Download</a>
            </div>  
            <div class="site-footer-nav__col">
              <a class="site-footer-nav__item" href="faq.html">FAQ</a>
              <a class="site-footer-nav__item" href="blog.html">Blog</a>
              <a class="site-footer-nav__item" href="contact.html">Contact</a>
            </div>  
          </div> 
        </nav>
        <!-- /footer nav -->

        <!-- footer nav -->
        <nav class="site-footer-nav">
          <h4 class="site-footer-nav__title">Connect with us</h4>
          
          <a class="site-footer-nav__item" href="#">
            <img src="images/icons/l-facebook.svg" alt="">
              Facebook
          </a>
          <a class="site-footer-nav__item" href="#">
            <img src="images/icons/l-twitter.svg" alt="">
            Twitter
          </a>
        </nav>
        <!-- /footer nav -->
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>