<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" href="main.css">

  <title>WebShadow - Privacy</title>
</head>
<body>
  
  {% include "partials/site-header.html" %}

  <!-- PAGE-HEADER CONTENT -->
    <header class="page-header">
      <div class="ui container">
        <h1 class="page-header__caption">Webshadow Privacy Policy</h1>
      </div>
    </header>
  <!-- /PAGE-HEADER CONTENT -->

  <section class="privacy">
    <div class="ui container">
      <p class="privacy__p">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
      
      <h2 class="privacy__caption">What personal information do we collect from the people that visit our blog, website or app?</h2>
      <p class="privacy__p">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information, Browsing data or other details to help you with your experience.</p>
      
      <h2 class="privacy__caption">When do we collect information?</h2>
      <p class="privacy__p">We collect information from you when you register on our site, place an order Using the Webshadow software or enter information on our site.</p>
      
      <h2 class="privacy__caption">How do we use your information?</h2>
      <p class="privacy__p">We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
      <ul class="privacy__list">
        <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
        <li>To improve our website in order to better serve you.</li>
        <li>To allow us to better service you in responding to your customer service requests.</li>
        <li>To administer a contest, promotion, survey or other site feature.</li>
        <li>To quickly process your transactions.</li>
        <li>To send periodic emails regarding your order or other products and services.</li>
      </ul>

      <h2 class="privacy__caption">How do we protect visitor information?</h2>
      <p class="privacy__p">Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
      <br>  
      <br>  
      We use regular Malware Scanning.
      <br>  
      <br>
      Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
      <br>  
      <br>
      We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
      <br>  
      <br>
      All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
      
      <h2 class="privacy__caption">Do we use 'cookies'?</h2>
      <p class="privacy__p">Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
      
      <h2 class="privacy__caption">We use cookies to:</h2>
      <p class="privacy__p">
        Understand and save user's preferences for future visits.
        <br>
        <br>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
      </p>
      
      <h2 class="privacy__caption">If users disable cookies in their browser:</h2>
      <p class="privacy__p">If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>
      
      <h2 class="privacy__caption">Third Party Disclosure</h2>
      <p class="privacy__p">We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.  However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
      
      <h2 class="privacy__caption">Third party links</h2>
      <p class="privacy__p">We do not include or offer third party products or services on our website.</p>
      
      <h2 class="privacy__caption">California Online Privacy Protection Act</h2>
      <p class="privacy__p">CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. - See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>
      
      <h2 class="privacy__caption">According to CalOPPA we agree to the following:</h2>
      <p class="privacy__p">
        Users can visit our site anonymously
        <br>  
        <br> 
        Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.
        <br>  
        <br> 
        Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.
        <br>  
        <br> 
        Users will be notified of any privacy policy changeson our Privacy Policy Page.
        <br>  
        <br> 
        Users are able to change their personal information by logging in to their account.
      </p>
      
      <h2 class="privacy__caption">How does our site handle do not track signals?</h2>
      <p class="privacy__p">We don't honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. We don't honor them because it isn't applicable to our service.</p>
      
      <h2 class="privacy__caption">Does our site allow third party behavioral tracking?</h2>
      <p class="privacy__p">It's also important to note that we do not allow third party behavioral tracking</p>
      
      <h2 class="privacy__caption">COPPA (Children Online Privacy Protection Act)</h2>
      <p class="privacy__p">
        When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
        <br>  
        <br> 
        We limit the viewing of children's browsing activity to parents or legal guardians.
      </p>
      
      <h2 class="privacy__caption">Fair Information Practices</h2>
      <p class="privacy__p">The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
      
      <h2 class="privacy__caption">In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</h2>
      <p class="privacy__p">
        We will notify the users via email within 7 business days.
        <br>  
        <br> 
        We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.
      </p>
      
      <h2 class="privacy__caption">CAN SPAM Act</h2>
      <p class="privacy__p">The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
      
      <h2 class="privacy__caption">We collect your email address in order to:</h2>
      <ul class="privacy__list">
        <li>Send information, respond to inquiries, and/or other requests or questions.</li>
        <li>Process orders and to send information and updates pertaining to orders</li>
        <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred</li>
      </ul>

      <h2 class="privacy__caption">To be in accordance with CANSPAM we agree to the following:</h2>
      <ul class="privacy__list">
        <li>NOT use false, or misleading subjects or email addresses</li>
        <li>Identify the message as an advertisement in some reasonable way</li>
        <li>Include the physical address of our business or site headquarters</li>
        <li>Monitor third party email marketing services for compliance, if one is used.</li>
        <li>Honor opt-out/unsubscribe requests quickly</li>
        <li>Allow users to unsubscribe by using the link at the bottom of each email</li>
      </ul>

      <h2 class="privacy__caption">If at any time you would like to unsubscribe from receiving future emails, you can</h2>
      <p class="privacy__p">Email us at <a href="mailto:unsubscribe@webshadow.org">unsubscribe@webshadow.org</a> and we will promptly remove you from ALL correspondence.</p>
      
      <h2 class="privacy__caption">Contacting Us</h2>
      <p class="privacy__p">
        If there are any questions regarding this privacy policy you may contact us using the information below.<br>
        <br>
        <a href="/">webshadow.org</a><br>
        P.O. Box 32380,<br>
        Pikesville,<br>
        MD 21282,<br>
        U.S.A.<br>
        <br>
        <a href="mailto:support@webshadow.org">support@webshadow.org</a><br>
        <a href="tel:1-646-600-8100">1-646-600-8100</a>
      </p>

    </div>
  </section>

  {% include "partials/site-footer.html" %}
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/site-header.js"></script>
</body>
</html>