@import "./variables";
@import "./utils";

@import "common/site-header";
@import "common/site-subnav";
@import "common/site-footer";
@import "common/site-btn";
@import "common/section-caption";
@import "common/site-input";
@import "common/site-bg";
@import "common/page-header";
@import "common/pink-label";
@import "common/infos";
@import "common/anchor";

@import "./pages/dashboard/header";
@import "./pages/dashboard/content";
@import "./pages/dashboard/flatpickr";
@import "./pages/dashboard/summaries";
@import "./pages/dashboard/reports";
@import "./pages/dashboard/settings";

@import "./pages/download";
@import "./pages/faq";
@import "./pages/contact";
@import "./pages/blog";
@import "./pages/about";
@import "./pages/privacy";

@import "./pages/landing/hero";
@import "./pages/landing/features";
@import "./pages/landing/why-us";
@import "./pages/landing/steps";
@import "./pages/landing/cta";
@import "./pages/landing/testimonials";
@import "./pages/landing/blog";

@import "./pages/login/login-banner";
@import "./pages/login/login-footer";
@import "./pages/login/login-form";
@import "./pages/login/register";
@import "./pages/login/w-form";
@import "./pages/login/wrappers";


body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}