// FLAT COLORS
$brand-pink: #ed0c6e;
$brand-blue: #00c9c9;

$blue-dark: #323761;
$grey-dark: #676b85;

$grey: #a4aeb6;
$grey-light: #d8d8d8;
$grey-lighter: #e2e3e8;

$login-background: #f8fafc;

// TRANSPARENT COLORS
$shadow: rgba(160, 174, 187, 0.25);
$shadow-light: rgba(187, 207, 226, 0.14);

// FONTS
$main-font: "Roboto", sans-serif;
$serif: "Georgia", serif;

// MEASUREMENTS
$breakpoint-xs: 399px;
$breakpoint-sm: 479px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;

$navbar-height: 85px;